#CORS
CORS=http:CHANGEME

#Database Configuration
DB_URL=jdbc:postgresql://<YOUR WSL IP ADDRESS>:PORT/DBNAME
DB_USERNAME=CHANGEME
DB_PASSWORD=CHANGEME
CONN_TIMEOUT=2000
POOL_MAXSIZE=5

#Security Configuration
SEC_USERNAME=CHANGEME
SEC_PASSWORD=CHANGEME

#JWT Configuration
JWT_SECRET=CHANGEME
JWT_EXPIRATION=CHANGEME